body{
    /* background-color: rgba(240, 219, 190, 0.884);
    background-image: url(https://estaticos-cdn.prensaiberica.es/clip/88b63833-553b-415f-ad30-acdf253e63ae_16-9-discover-aspect-ratio_default_0.jpg);*/
}

#daDes_personals{
    background-color: #002f64;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;