body{
    /* background-color: rgba(240, 219, 190, 0.884);
    background-image: url(https://estaticos-cdn.prensaiberica.es/clip/88b63833-553b-415f-ad30-acdf253e63ae_16-9-discover-aspect-ratio_default_0.jpg);*/
    background-color: #ffddf7d2;
}

#daDes_personals{
    background-color: #ff90e3d2;
    text-align: center;
    font-family: "Berkshire Swash", serif;
}
#daDes_acadèmiques{
    background-color: #ff90e3d2;
    text-align: center;
     font-family: "Berkshire Swash", serif;
}
#exPeriència{
    background-color: #ff90e3d2;
    text-align: center;
    font-family: "Berkshire Swash", serif;
}
#texto{
     font-family: "Funnel Sans", sans-serif;
     text-align: center;
}
